.container{
    height: 500px;
    width: 100%;
    margin: 8.5rem 0;
    padding-top: 8rem;
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle{
    margin-bottom: 12px;
    font-size: 18px;
}

.title{
    margin-bottom: 32px;
    font-size: 40px;
    color: rgb(0, 234, 199);
}

.inputContainer{
    width: 500px;
    height: 70px;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 20px;
}

.inputContainer > input{
    outline: none;
    border: none;
    width: 90%;
    padding: 1rem 0;
    transition: 150ms all;
}

.inputContainer>input::placeholder{
    font-size: 16px;
}

.inputContainer > input:focus{
    padding-left: 0.75rem;
}

.inputContainer:focus-within{
    border-color: #333;
}

.sendIcon{
    font-size: 20px;
}

.illustration{
    height: 300px;
    margin-top: 2.5rem;
}



@media (max-width: 768px) {
    .container {
      height: auto;
      margin: 5rem 0;
      padding-top: 2rem;
    }
  
    .wrapper {
      width: 90%;
    }
  
    .subtitle {
      font-size: 16px;
      margin-bottom: 8px;
    }
  
    .title {
      font-size: 28px;
      margin-bottom: 20px;
    }
  
    .inputContainer {
      width: 100%;
      max-width: 400px;
      height: auto;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0.6rem 1.2rem;
    }
  
    .inputContainer > input {
      width: 100%;
      /* margin-bottom: 1rem; */
    }
  
    .illustration {
      height: auto;
      margin-top: 2rem;
    }

    .sendIcon{
      font-size: 22px;
  }
  }